@font-face {
  font-family: "Noto Sans KR";
  src: url(../../static/fonts/NotoSansKR-VariableFont_wght.ttf);
}

* {
  font-family: "Noto Sans KR", "Inter", sans-serif;
  font-weight: 400;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans KR", "Inter", sans-serif;
}
h2,
h3,
h4 {
  font-size: 3rem;
  font-family: "Noto Sans KR", ui-sans-serif, "sans-serif";
}
p {
  font-family: "Noto Sans KR", sans-serif;
}

